p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
body{
    background: black;
}
.post{
    background: white;
    height: 900px;
    width: 600px;
    margin:auto;
    margin-top: 50px;
}
.header{
    height: 10%;
    display: flex;
}
.accountName{
    margin: auto;
    margin-left: 0%;

}
.accountPic {
    height: 80%;
    width: 10%;
    margin:auto;
    margin-left: 5px;
    margin-right: 0px;
    justify-content: left;
}
.profilePic{
    max-width: 100%;
    max-height: 100%;
}

.icon{
    margin: auto;
    margin-right: 5%;
}
.image{
    height: 50%;
}
.picture{
    width: 100%;
    height: 100%;
}
.icons{
    height: 7%;
    display: flex;
    justify-content: space-between;
}
.first-icons{
    justify-content: left;
    margin:5%;
}
.last-icons{
    justify-content: right;
    margin:5%;
}
.likes {
    height: 6%;
}
.likes p{
    margin-left:5%;
}
.caption{
    height: 25%;
}
.caption p{
    margin: 5%;
    margin-top: 0%;
    font-size: 22px;
}
